[core]
  autocrlf = false
  editor = vim -f
  excludesfile = ~/.gitignore

[user]
  name = Bruno Henrique - Garu
  email = squall.bruno@gmail.com

[github]
  user = brunohenrique

[color]
  ui = true

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green

[color "status"]
	added = green
	changed = yellow
	untracked = cyan

[push]
  # 'git push' will push the current branch to its tracking branch
  # the usual default is to push all branches
  default = tracking

[merge]
  summary = true
  verbosity = 1

[branch]
  autosetupmerge = true

[apply]
  whitespace = nowarn

[diff]
  # Git diff will use (i)ndex, (w)ork tree, (c)ommit and (o)bject
  # instead of a/b/c/d as prefixes for patches
  mnemonicprefix = true

[rerere]
  # Remember my merges
  # http://gitfu.wordpress.com/2008/04/20/git-rerere-rereremember-what-you-did-last-time/
  enabled = true

[format]
  pretty = format:%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %C(reset)[%C(blue)%an%C(reset)]%C(bold yellow)%d%C(reset)

[alias]
  st = status -sb
  ci = commit -m
  cia = commit -am
  co = checkout
  br = branch
  ps = push
  p  = pull -r
  a = add -A
  ap = add -p
  ss = stash
  ssp = stash pop
  l = log --graph --abbrev-commit --date=relative
  ll = log --graph --abbrev-commit --date=relative --name-status
  lp = log --graph --abbrev-commit --date=relative -p
  boom = clean -fd
  r = reset HEAD
  rh = reset HEAD~1
  dc = diff --cached
  d = diff
  cian = commit --amend --no-edit
  logt = log --graph --abbrev-commit --decorate --date=relative --all
[url "git@github.com:"]
	insteadOf = https://github.com/
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[commit]
	verbose = true
